{% extends "base.html" %}

{% block body %}
<section class="header">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
      body {
        background-color: rgb(77, 141, 236);
        font-family: 'Nunito', sans-serif;
      }
    </style>
    <h2 class="title">My Todolists.</h2>
    <div class="row">
      <div class="three columns value-prop"></div>
      <div class="six columns">
        <form action="{% url 'lists:new_todolist' %}" method=post>
          {% csrf_token %}
          <dl>
            <dd>{{ form }}
            <dt><input type="submit" class="button button-primary" value="Start one now">
          </dl>
        </form>
      </div>
    </div>
</section>
{% endblock %}